<div class="container">
  <div class="row">
    <div class="col pt-5 text-center">
    <h2>お問い合わせいただきありがとうございました。</h2>
      <div class="actions text-center">
        <%= link_to "TOPに戻る", root_path, class: "btn btn-outline-success col-4 mt-2" %>
      </div>
    </div>
  </div>
</div>