<ul class="bxslider">
 <li><%= image_tag asset_path('/sample-04.png') %></li>
 <li><%= image_tag asset_path('/sample-02.png') %></li>
 <li><%= image_tag asset_path('/sample-01.png') %></li>

 <!--<li><img src="../images/sample-03.png" alt="" width="640" height="300"></li>-->
 <!--<li><img src="../images/sample-04.png" alt="" width="640" height="300"></li>-->
