<ul class="bxslider">
 <li><img src="../images/SDGs.png" alt="" width="500" height="200"></li>
 <li><img src="../images/sample-02.png" alt="" width="500" height="200"></li>
 <!--<li><img src="../images/sample-03.png" alt="" width="640" height="300"></li>-->
 <!--<li><img src="../images/sample-04.png" alt="" width="640" height="300"></li>-->
</ul>