<ul class="bxslider">
 <li><%= image_tag asset_path('peach.jpg') %></li>
 <li><%= image_tag asset_path('sample-04.png') %></li>
 <li><%= image_tag asset_path('bred.jpg') %></li>
 <li><%= image_tag asset_path('fish.jpg') %></li>
</ul>

