<% @products.each do |product| %>
 <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
  <div class="card w-100 ">
   <%= link_to  public_products_path(product.id),style: "color: black;" do %>
    <div class="text-center">
      <%#= attachment_image_tag product, :image, fallback:"no-image.png", size: '250x200' %>
    </div>

    <div class="text-center">
      <div><%= product.name %></div>
        <!--<h3>¥ <%#= tax_price(product.price).to_s(:delimited) %>-->
        <span class="tax">(税込)</span>
        <div>
          <% if product.status == true %>
            <div class="text-success">販売中</div>
          <% else %>
            <div class="text-black-50">売り切れ</div>
          <% end %>
        </div>
    </div>
   <% end %>
  </div>
 </div>
<% end %>