<div class="container">
<% provide(:title, "#{@product.name}") %>

  <div class="row justify-content-center">
      <div class="col-4">
      <div class="mt-3" >
      <%#= attachment_image_tag @product, :image, fallback:"no-image.png", size: '250x180' , class: "shadow" %>
      </div>
    </div>
    <div class="col-xs-6 product-show">
      <div class="product-description">
        <div class="field product-name">
          <h2><%= @product.name %></h2>
        </div>
        <div class="field">
          <%= @product.description %>
        </div>
        <div class="field product-price">
              <span class="tax">(税込)</span>
          </h3>
        </div>

         <!--コメント表示-->
         <table id="comment_area">
           <%= render 'public/product_comments/index', product: @product %>
         </table>
         <!--コメント入力フォーム-->
        <%# if user_signed_in? %>
           <div id ="coment_form">
             <%= render 'public/product_comments/form',product: @product,comment: @new_comment %>
         </div>
        <%# end %>
      </div>
      </div>
    </div>
  </div>