<div class="container">
 <h2 class="head-line title_h2 text-center">チャット一覧</h2>
  <div calss="row">
   <div class="col-xs-12">
    <% if @chats.present? %>
     <table class="table table-hover table-bordered table-condensed">
      <thead class="table-secondary">
       <tr>
          <th>名前</th>
          <th>内容</th>
          <th></th>
       </tr>
      </thead>
      <tbody>
      <% @chats.each do |chat| %>
       <tr>
         <td><%= chat.user.first_name + chat.user.last_name %></td>
         <td><%= chat.message %></td>
         <td><%#= link_to "DM", admin_room_path(@user_room.id)) %></td>
       </tr>
      <% end %>
      </tbody>
     </table>
    <% else %>
     <p>チャットがありません。</p>
    <% end %>
   </div>
  </div>
</div>