<div class="container">
<h2 class="head-line title_h2 text-center">マイページ</h2>

<div class="row justify-content-center">
  <div class="col-md-6">

   <table class="table table-bordered ">
     <thead>
     	<tr>
			 <td class="info col-xs-2">氏名</td>
			 <td class="text-left"><%#= @user.last_name %>　<%#= @user.first_name %></td>
		  </tr>
	    <tr>
			 <td class="info">カナ</td>
		 	 <td class="text-left"><%#= @user.kana_last_name %>　<%#= @user.kana_first_name %></td>
		  </tr>
		  <tr>
		  </tr>
		  <tr>
			 <td>電話番号</td>
			 <td><%#= @user.phone_number %></td>
		  </tr>
      <tr>
			 <td>メールアドレス</td>
			 <td><%#= @user.email %></td>
		  </tr>
   	 </thead>
	 </table>

     <div class="row justify-content-center">
         <p> </p>
         <%= link_to " 注文履歴を見る", public_orders_path,  class:"btn btn-outline-warning" %>
         <p> </p>
         <%= link_to "編集する", public_user_show_path, class:"btn btn-outline-success" %>
      </div>
    </div>
　　</div>
　</div>
　</div>