<% provide(:title, "ありがとうございました！") %>
<div class="container">
<div class="thanks-container text-center">
  <h1 class="text-center thanx">ご購入ありがとうございました！</h1><br>
  <div class="col-xs-7">
    <%= link_to "注文履歴はこちら", public_orders_path, class:"btn btn-warning"%>
  </div>
</div>
</div>
