/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
// header
 header {
   position: fixed;
   z-index: 1;  // 重なりを解消する為には、 z-index  プロパティを使いレイヤーの重なり順を指定。
   box-sizing:  border-box;  /* 崩れ防止 */
   width: 100%;
   height: 70px;
   align-items: center;
   background-color: #CCFFFF;
   background-position: center bottom;
   background-size: cover;
   top: 0;
   box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
 }
.bx-wrapper {
	width: 600px;
	height: 400px;
}

ul.list{
   display: flex;
   justify-content: flex-end;
   list-style: none;
   size: 50px;
   background-color: #CCFFFF;
}

 ol, ul {
   list-style: none;
}

.header-logo {
    height: 80px;
    background-color: #CCFFFF;
    padding-left :24px;
  }

 span .header-text {
    font-color: #fff;
}

.li, .nav-item {
    line-height: 65px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.nav-list-item {
    line-height: 50px;
    height: 80px;
    background-color: #003366;
}

.span.nav-list-text-text {
    line-height: 50px;
}

.nav-link{
    line-height: 50px;
}

.search_form {
    position: fixed;
    top: 15px;
    left: 400px;
    width: 200px;
}

#form4{
 position:relative;
 max-width:300px;
 margin-bottom:20px;
 }

 #sbox4{
 height:50px;
 padding:0 10px;
 position:absolute;
 left:0;
 top:0;
 border-radius:25px;
 outline:0;
 background:#eee;
 }

 #sbtn4{
 height:50px;
 width:50px;
 position:absolute;
 left:360px;
 top:0;
 background:#7fbfff;
 color:#fff;
 border:none;
 border-radius:0 25px 25px 0;
 }

 #sbtn4 .fa-search{
 font-size:20px;
 position:absolute;
 top:30%;
 left:30%;
 }

 #sbtn4:hover{
 color:#888;
 }


.head-line {
    margin-bottom: 20px;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    border-bottom: solid 3px skyblue;
    position: relative;
    padding-bottom: 7px;
}
.head-line:after{
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #ffc778;
    bottom: -3px;
    width: 30%;
}
// contents SDGs

#sustainable #Content #Promise {
    position: relative;
    color: #fff;
}

#Promise .prologue h2 {
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.12em;
    font-size: 48px;
    margin-bottom: 2.6875vw;
}

#Promise .prologue h2 span {
    font-size: 24px;
    margin-top: 3.125vw;
}

.prologue p {
    font-size: 20px;
    line-height: 270%;
}

.prologue p em {
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.06em;
    text-align: center;
    display: block;
    margin-top: 4vw;
    font-weight: 600;
}

#sustainable #Content #Promise .prologue p {
    line-height: 270%;

}

.flash-position{
    padding-bottom: 150px;
    padding-top: 50px;
}

.content-header {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
}

.cintent-gnav.white{
    background: rgba(255, 255, 255, 0.9);
}

.content-gnav.scrolled {
    position: fixed;
    top: 0;
    left: 0;
}

.content-gnav {
    position: relative;
    z-index: 100;
    display: block;
    width: 100%;
    height: 70px;
    z-index: 9999;
    transition: all .25s;
    margin-bottom: -70px;
}

.content-gnav .content-gnav_inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.content-gnav .content-gnav_nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    height: 100%;
    max-width: 600px;
    min-width: 500px;
}

.content-gnav .content-gnav_inner-left {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 210px);
}

.content-gnav_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: #000;
    padding-left: 5px;
}

.container{
    position: absolute;/*←絶対位置*/
    position: relative;/*←相対位置*/
    top: 50px;
    padding-bottom: 250px;
    box-sizing: borde-box;
    text-align: center;
    background-color: #FFFAF0;
}

  a:hover {
    text-decoration: none!important;
 }

 footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    background-color: #CCFFFF;
    color: 	#0000CC;
    text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.pagination a {
  background-color: grey;
  text-decoration: none;
}

.pagination * {
  color: white;
  margin: 0 7px;
  text-decoration: none;
  padding: 12.5px 18.5px;
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
}

.current {
  font-style: normal;
  color: white;
  background: #93f1ff;
  border-radius: 22.5px;
  font-family: 'Nunito', sans-serif;
}

.pagination a:hover {
  background: #93f1ff;
}

.pagination .disabled {
  color: #adadad;
  padding: 11px 17px;
  border: 1px solid #666666;
  border-radius: 23px;
  font-family: 'Nunito', sans-serif;
}