/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 * {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.flash-position{
  padding-bottom: 150px;
  padding-top: 50px;
}

.content-header {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
}
.cintent-gnav.white{
  background: rgba(255, 255, 255, 0.9);
}
.content-gnav.scrolled {
    position: fixed;
    top: 0;
    left: 0;
}
.content-gnav {
    position: relative;
    z-index: 100;
    display: block;
    width: 100%;
    height: 70px;
    z-index: 9999;
    transition: all .25s;
    margin-bottom: -70px;
}

.content-gnav .content-gnav_inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.content-gnav .content-gnav_nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    height: 100%;
    max-width: 600px;
    min-width: 500px;
}
.content-gnav .content-gnav_inner-left {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 210px);
}

.content-gnav_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: #000;
    padding-left: 5px;
}

// .logo{
//   margin: 0 0 0 30px;
//   float:left;
//   display: block;
// }


ul.list{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  size: 50px;
}

ol, ul {
  list-style: none;
}

// .search_form {
//   position: fixed;
//   top: 15px;
//   left: 450px;
// }

.container{
  position: absolute;/*←絶対位置*/
  position: relative;/*←相対位置*/
  top: 90px;
  padding-bottom: 330px;
  box-sizing: borde-box;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  background-color: #CCFFFF;
  color: 	#0000CC;
  text-align: center;
}