// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
  font-family: 'japanese', sans-serif;
  color: black;
  font-size: 35px;
}

#recommend {
vertical-align: top;
margin-top: 30px;
position: relative;
list-style: none;
padding: 0;
}

#recommend li {
display: inline-block;
width: 300px;
margin: 0 15px 0 0;
padding: 0;
vertical-align: top;
}

