<header>
　<nav class="navbar navbar-expand-lg navbar-light" id="header-out">
　 <div class="container" id="header-conteiner">
　  <div id="header-logo">
　   <% if customer_signed_in? %>
　   
　   <% elsif admin_signed_in? %>
　   
　   <% else %>
　   
　   <% end %>
　  </div>
　 </div>
　</nav>
</header>